{% extends "layout.html" %}

{% block body %}
<form method='POST'>
	<div> 	 הזמנה לכבוד {{name}}</div>
	<div>
		<input type="radio" name="status" value="accepted" checked> מגיע<br>
	</div>
	<div>
		<input type="radio" name="status" value="declined">לא מגיע<br>
	</div>
	<div>
		<select name="number_of_guests">
		{% for i in range(1, max_number_of_guests + 1) %}
			<option value={{i}}>{{i}}</option>
		{% endfor %}
		</select>
	</div>
	<button type="submit">Submit</button>
</form>
{% endblock %}
~                         
