<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Wedding Party</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<ul class="navigation-menu">
			{% if current_user.is_authenticated %}
			<li class="navigation-item"><a href="{{ url_for('security.logout') }}">Logout</a></li>
			{% if current_user.has_role('admin') %}
			<li class="navigation-item"><a href="{{ url_for('invitation.show_all') }}">View</a></li>
			{% endif %}
			{% else %}
				<li class="navigation-item"><a href="{{ url_for('security.login') }}">Login</a></li>
  			{% endif %}
		</ul>
		{% block body %}{% endblock %}
	</body>
</html>
